body{
    text-align: center;
    background-color: #e1e3e1;
}

h1{
    font-weight: bold;
}

.container{
    display: flex;
    gap: 3%;
    padding:1vw;
}

.option{
    flex: 1;
    height: 20vw;
    background-color: slategray;
    border-radius: 10%;
}

.option:hover{
    background-color: lightblue;
}

.score{
    font-size: 25px;
}

.selection{
    font-size: 20px;
    
}

.again{
    border-radius: 10%;
    display: block;
    margin: 1% auto;
}

.winner{
    color: green;
}

.loser{
    color: red;

}